@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial;
    box-sizing: border-box;
}

body{
    background-color: rgb(61, 59, 59);
}

#wrapper{
    margin: auto;
    background-color: black;
    color: rgb(175, 167, 167);
    text-align: center;
    max-width: 1000px;
}

header > img {
    width: 100%;
    display: block;
}

nav{
    border: 2px solid rgb(245, 241, 13);
    background-color: rgb(50, 77, 99);
    border-radius: 2rem;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

a.menu{
   color: rgb(175, 167, 167);
    width: 25%;
    display: block;
    float: left;
    padding: 0.4%;
    text-decoration: none;
    transition: all 0.5s ease;
}



a.menu:hover{
    background-color: aquamarine;
    color: rgb(14, 14, 13);
}

h1{
    text-align: center;
}

section{
    margin: 0;
    max-width: 1000px;
}

article{
    text-align: justify;
    padding: 30px;
}

article > p{
    margin-top: 5px;
}


article > h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid  rgb(175, 167, 167);
    font-size: 24px;

}

#article-info{
    border-bottom: 1px solid rgb(175, 167, 167);
    margin-top: 0px;
}

.thumbnail{
    float: left;
    margin: 0px 10px;
    max-width: 50%;
    border-radius: 50% 30%;
    border: 2px solid rgb(175, 167, 167);
}

#first-p{
    padding-top: 20px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 1.1rem;
}

.active{
    background-color: aquamarine;
    color: black !important;
}

iframe{
    width: 100%;
}

footer{
    border: 2px solid rgb(245, 241, 13);
    background-color: rgb(50, 77, 99);
    border-radius: 2rem;
    padding: 4px;
    width: 100%;
}

@media (max-width: 800px) {
    nav a.menu {
        width: 50%;
    }
}

@media (max-width: 550px) {
    nav a.menu {
        width: 100%;
    }
}